grpcio>=1.62.1
grpcio-status>=1.62.1
fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
stripe
openai
google-generativeai
email-validator
dnspython
anthropic
chromadb
pypdf
resend
pysqlite3-binary
